<div class="auth-container">
    <h2>Login</h2>
    <form action="login" method="post">
        <div class="form-control">
            <label for="email">Email:</label>
            <input autofocus type="text" name="email" placeholder="Digite seu e-mail" value="{{email}}" required>
        </div>  
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite sua senha" value="{{password}}" required>
        </div>
        <input class='btn' type="submit" value="Logar">
        <p class="form-p">Não tem conta? <a href="/register">Clique aqui!</a></p>
    </form>
    {{#each toughts}}
        {{>tought}}
    {{/each}}
</div>